@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* ### Primary */
    --Orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);

    /* ### Neutral */
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0 1.5rem;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1.5rem 0;
}

main {
    display: flex;
    flex-direction: column;
}

.desktop_nav {
    display: none;
}

.mobile-light-box {
    background-color: hsl(0, 0%, 0%, .75);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.mobile_nav {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: 1.9rem 1.65rem;
    position: fixed;
    height: 100vh;
    width: 65%;
    top: 0;
    left: 0;
    z-index: 20;
    transform: translateX(-100%);
    transition: .7s ease-in-out;
}

.mobile_nav.show {
    transform: translateX(0%);
    transition: .7s ease-in-out;
}

.menu_btn {
    cursor: pointer;
}

.menu-close_btn {
    cursor: pointer;
    color: var(--darkGrayishBlue);
    font-size: 1.1rem;
}

.nav_card {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 2.5rem 0;
}

.nav_card a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 700;
}

.logo_img {
    margin-right: 20%;
}

.cart_div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 20%;
}

.cart_icon {
    cursor: pointer;
    color: var(--grayishBlue);
    font-size: 18px;
    position: relative;
}

.cart_icon:hover,
.cart_icon:active {
    color: var(--darkGrayishBlue);
}

.cart_icon small {
    background-color: var(--Orange);
    border-radius: 10px;
    color: var(--White);
    font-size: .5rem;
    padding: .25rem;
    text-align: center;
    width: 1.5rem;

    position: absolute;
    top: -10px;
    right: -12px;
}

.cart_div img {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 22px;
}

.cart_div img:hover {
    border: 2px solid var(--Orange);
}

.product_container {
    /* background-color: hsl(220, 14%, 75%);  */
    background-color: hsla(26, 92%, 42%, 0.747);
    height: 48.5vh;
    margin: 0 -1.5rem;
    max-height: 360px;
    max-width: 100vw;
    position: relative;
}

.product {
    display: block;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.product.hide {
    display: block;
    position: absolute;
    left: -100%;
    transition: .75s ease-in-out;
}

.product.current_img {
    left: 0;
    transition: .75s ease-in-out;
}

.prev_btn,
.next_btn {
    background-color: var(--White);
    border: none;
    border-radius: 50%;
    color: var(--Black);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;
    height: 32px;
    width: 32px;

    position: absolute;
    top: 50%;
    z-index: 2;
}

.product_container>button:hover,
.product_container>button:active,
.product_container>button:focus {
    color: var(--Orange);
}

.prev_btn {
    left: 1.5rem;
    transform: translateX(-50%);
}

.next_btn {
    right: 1.5rem;
    transform: translateX(50%);
}

.thumbnails {
    display: none;
}

.cart_card.hide {
    display: block;    
    top: -100%;     
    transition: 1s ease-in;    
}

.cart_card {
    background-color: var(--lightGrayishBlue);
    border-radius: 10px;
    padding: 0 1.5rem;
    height: 85%;
    max-height: 275px;
    width: 96.5%;
    max-width: 700px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%) scale(1);
    transition: 1s ease-out;
    z-index: 3;
}

.title_container {
    border-bottom: 1px solid var(--grayishBlue);
    margin: 0 -1.5rem;
    padding: 1.5rem;
}

.cart_card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 67.5%;
    max-height: 195px;
}

.cart_card-content>p {
    color: var(--darkGrayishBlue);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.cart_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
}

.product_thumbnail {
    border-radius: 5px;
    width: 55px;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.order-summary>p {
    color: var(--darkGrayishBlue);
    font-size: calc(13px + (20 - 13) * (100vw - 300px) / 500);
}

.delete_icon {
    cursor: pointer;
    height: 16px;
    width: 14px;
}

.delete_icon:hover {
    height: 18px;
    width: 15px;
}

.checkout_btn {
    background-color: var(--Orange);
    border: none;
    border-radius: 10px;
    color: var(--White);

    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: .9rem;
    font-weight: 700;

    margin: .75rem 0;
    position: relative;
    height: 3.5rem;
    width: 100%;
}

.checkout_btn:hover {
    opacity: .5;
}

.product_component h1 {
    color: var(--Orange);
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.product_component h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

.product_component h2+p {
    color: var(--darkGrayishBlue);
    font-size: .9rem;
    line-height: 1.5rem;
    margin: 1.25rem 0;
}

.price_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.price_container strong {
    font-size: 1.75rem;
}

.price_container p {
    background-color: var(--paleOrange);
    border-radius: 7px;
    color: var(--Orange);
    font-weight: 700;
    margin-right: 15%;
    padding: 3px 6px;
}

.price_container s {
    color: var(--grayishBlue);
    font-weight: 700;
}

.quantity_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--lightGrayishBlue);
    border-radius: 10px;
    height: 60px;
}

.quantity_container p {
    font-weight: 700;
}

.quantity_container button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    height: 100%;
    width: 3rem;
}

.order-placement_container button:hover {
    opacity: .5;
}

.add-to-cart_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--Orange);
    border: none;
    border-radius: 10px;
    color: var(--White);
    cursor: pointer;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;

    margin: 1rem 0 5rem;
    padding: 1.2rem;
    width: 100%;
}

.light-box {
    display: none;
}

.hide {
    display: none;
}

.attribution {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--Orange);
}

.attribution a:hover {    
    text-decoration: underline;
}

@media screen and (min-width: 620px) and (max-width: 1019px) {

    .product_container {
        background-color: hsla(26, 92%, 42%, 0.75);
    }

    .product {
        object-fit: contain;
    }

    .cart_card {
        box-shadow: 1px 10px 20px hsl(220deg 14% 75%);
        height: 260px;
        max-height: unset;
        top: 70%;        
    }
}

@media screen and (min-width: 1020px) {

    body {
        padding: 0 8rem;
        height: 100vh;
    }

    header {
        align-items: center;
        border-bottom: 1px solid var(--grayishBlue);
        margin: 0;
    }

    .logo_img {
        margin: 0;
    }

    .menu_btn {
        display: none;
    }

    .desktop_nav {
        display: flex;
        align-items: center;
        margin-right: 12.5vw;
    }

    .desktop_nav a {
        border-bottom: 3px solid transparent;
        color: var(--darkGrayishBlue);
        font-size: .85rem;
        text-decoration: none;
        margin-right: 1.25rem;
        padding: 1.5rem 0;
    }

    .desktop_nav a:hover {
        color: var(--veryDarkBlue);
        border-bottom: 2px solid var(--Orange);
        transition: .8s ease-in;
    }

    .cart_div {
        align-items: center;
        width: 7.5rem;
    }

    .cart_div img {
        width: 38px;
    }

    .cart_icon {
        font-size: 18px;
        cursor: pointer;
        color: var(--grayishBlue);
    }

    main {
        padding: 2.25rem 2.25rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product_container {
        background-color: unset;
        margin: 0;
        height: unset;
        max-height: 100%;
        position: unset;
        width: 35%;
    }

    .product {
        border-radius: 15px;
        margin-bottom: 1.5rem;
    }

    .product.hide.current_img {
        display: inline;
    }

    .thumbnails {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .thumbnail {
        border-radius: 10px;
        width: 20%;
    }

    .thumbnail img {
        border-radius: 7px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .thumbnail.current_thumbnail {
        border: 2px solid var(--Orange);
        outline: 3px;
    }

    .thumbnail.current_thumbnail img {
        opacity: .3;
    }

    .cart_card {
        box-shadow: 1px 10px 20px hsl(220, 14%, 75%);
        position: absolute;
        top: 31%;
        left: 81.5%;
        width: 320px;
        max-height: 250px;
    }

    .order-summary>p {
        font-size: 1rem;
    }

    .sum-total strong {
        color: var(--Black);
    }

    .product_component {
        width: 45%;
    }

    .product_component h1 {
        letter-spacing: .075rem;
    }

    .product_component h2 {
        font-size: calc(.75rem + 2vw);
        line-height: calc(.75rem + 2vw);
        margin-bottom: calc(1.5vw);
    }

    .product_component h2+p {
        font-size: 1rem;
        margin: calc(1.5vw) 0;
    }

    .price_container {
        justify-content: flex-start;
        margin: calc(2vw) 0;
        flex-wrap: wrap;
        width: 40%;
    }

    .price_container strong {
        margin-right: .75rem;
    }

    .price_container p {
        margin-right: 0%;
    }

    .price_container s {
        margin: 0.375rem 0.2rem;
    }

    .order-placement_container {
        display: flex;
        justify-content: space-between;
    }

    .quantity_container {
        width: 30%;
    }

    .add-to-cart_btn {
        margin: 0;
        padding: 1rem;
        width: 60%;
    }

    .order-placement_container button:hover {
        opacity: .4;
    }

    .prev_btn,
    .next_btn {
        display: none;
    }

    .light-box {
        background-color: hsla(0, 0%, 0%, 0.75);
        display: block;
        height: 100vh;
        margin: 0;
        max-height: 100vh;
        max-width: 100vw;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        transition: 1.75s ease-in-out;
        z-index: 10;
    }

    .light-box.hide {
        display: block;
        position: absolute;
        left: -100%;        
    }

    .slideshow_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        position: relative;
        margin: .5rem auto;
        height: 100%;
        max-height: 95vh;
        max-width: 37.5vw;
        width: 32.5vw;
    }

    .light-box-close_btn {
        color: var(--White);
        cursor: pointer;
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .light-box-close_btn:hover {
        color: var(--Orange);
    }

    .product_slide {
        position: relative;
        border-radius: 15px;
        width: 100%;
        margin-bottom: 2rem;
        object-fit: cover;
    }

    .prev_slide,
    .next_slide {
        background-color: var(--White);
        border: none;
        border-radius: 50%;
        color: var(--Black);
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1rem;
        font-weight: 700;
        height: 32px;
        width: 32px;

        position: absolute;
        top: calc(2.5rem + 30vh);
        transform: translateY(-50%);
        z-index: 20;
    }

    .prev_slide {
        left: 0%;
        transform: translateX(-50%);
    }

    .next_slide {
        right: 0%;
        transform: translateX(50%);
    }

    .slideshow_container>button:hover {
        color: var(--Orange);
    }

    .slide-thumbnails {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .slide-thumbnail {
        cursor: pointer;
        border-radius: 10px;
        width: 16%;
    }

    .slide-thumbnail:hover img {
        opacity: .7;
    }

    .slide-thumbnail img {
        border-radius: 7px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .slide-thumbnail.current_slide-thumbnail {
        border: 2px solid var(--Orange);
        outline: 3px;
    }

    .slide-thumbnail.current_slide-thumbnail img {
        opacity: .3;
    }

    .hide {
        display: none;
    }
}